/docs/
/build/
/dist/
/Gensokyo/
/hyper_bot.egg-info/
/kritor-main/
/lagrange/
/Lagrange.OneBot/
/lgr.kritor/
/main.build/
/main.dist/
/meme-generator.wiki/
/NapCat/
/node_modules/
/cache.db
/config.json
/device.json
/.idea/
/.zed/
/.venv/
/active/
/.ruff_cache/
/venvback/
/ffmpeg.exe
/temps/
/assets/twemoji/
/Lagrange.Milky/
/lagrange-0.db
/wrapper.node
/.idea/pyLspTools.xml
/.idea/pySourceRootDetection.xml
/.idea/pyTypeEngine.xml
/.idea/workspace.xml
__pycache__/