aiohttp~=3.9.5
requests~=2.31.0
httpx~=0.26.0
grpclib~=0.4.7
betterproto~=2.0.0b7
websocket~=0.2.1
websocket-client~=1.8.0
Flask~=3.0.0
html2text~=2024.2.26
pyppeteer~=2.0.0
pyncm~=1.6.15
google~=3.0.0
protobuf~=4.25.3
pillow~=10.4.0
jieba~=0.42.1
setuptools~=65.5.0
typing_extensions~=4.12.2
pydantic~=2.6.4
filetype~=1.2.0
bilibili-api-python
ucfgr